*{
    font-family: 'Monaco', cursive;
    padding:0px;
}
body{
    margin:0px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(52, 51, 51);
    color: white;
    height: 60px;
    width:auto;
    margin:0px;
}
.nav-links{
    display: flex;
    justify-content:center;
    align-items: center;
    padding-left: 100px;
}
li{
    margin: 10px;
}
ul{
    list-style-type: none;
}
.nav-links a{
    text-decoration: none;
    color: lightgrey;
}
.btn{
    color: white;
    background-color: rgb(35, 147, 169);
    font-size: large;
    border-style: solid;
    border-color: black;
    box-shadow:5px 5px black;
    padding:0px 10px;
    margin-right:20px;
}

.content{
    height: 1000px;
    width: auto;
    display:flex;
    justify-content: center;
    margin-top: 20px;
}
.left_content{
    display:flex;
    flex-direction: column;
    margin-right: 20px;
}
.user_card{
    width: 600px;
    height: auto;
    margin-bottom: 30px;
    border: 3px solid lightgray;
}
.usercard_header{
    background-color: rgb(35, 147, 169);
    height: 100px;
}
.usercard_content{
    padding-left: 20px;
    padding-top:25px;
    padding-bottom:20px;
}
.main_pic{
    height: 100px;
    width: auto;
    border-radius: 50%;
    position: relative;
    top: 45px;
    left: 20px;
}
#profile_name{
    margin-bottom:0px;
}
.location{
    margin-bottom:10px;
}
.map_icon{
    display: inline-block;
    width: 15px;
    height: auto;
}
.city{
    display: inline-block;
    vertical-align: bottom;
    margin-bottom:2px;
}
.usercard_content p{
    margin:0px;
}
/* .profile{
    margin-top:10px;
} */
.gear-pic{
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-top: 3px;
}
.usercard_content button{
    margin-top:10px;
    display: block;
    background-color: white;
    border: none;
}
.usercard_content button:hover {
    border: 2px solid blue;
    cursor: pointer;
}

.education{
    height: 300px;
    border: 3px solid lightgray;
    padding:0px;
}
.education_header{
    background-color: rgb(52, 51, 51);
    color:white;
    margin-top:0px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 20px;
    font-size: 1.2em;
}
.education_content{
    padding-left: 20px;
}
.education_content h3,h4{
padding: 2px;
margin:3px;
}
.education_content p{
    padding:5px 0px 0px 0px;
    margin-left:3px;
    }
.connections{
    display:flex;
    flex-direction: column;
}
.requests_content button{
    border: none;
    background-color: white;
    float: right;
}
.requests_content button:hover{
    cursor: pointer;
}
.accept_icon, .deny_icon {
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 15px;
}


.connection_requests{
    width: 300px;
    height: auto;
    border: 3px solid lightgray;
    margin-bottom: 30px;
}
#requests_header{
    background-color: rgb(52, 51, 51);
    color:white;
    margin-top:0px;
    margin-bottom:10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    font-size: .75em;
    display:flex;
}
.requests_content{
    padding-left: 20px;
}
.your_connections{
    width: 300px;
    height: auto;
    border: 3px solid lightgray;
}
#connections_header{
    background-color: rgb(52, 51, 51);
    color:white;
    margin-top:0px;
    margin-bottom:10px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 20px;
    font-size: .75em;
    display:flex;
}
.count{
    background-color:lightgray;
    color:black;
    border:1px solid black;
    border-radius:50%;
    display: inline-block;
    height: 20px;
    width:auto;
    position:relative;
    top:5px;
    left:0px;
    font-size: 1em;
    text-align: center;
    line-height: 2;
    padding:5px 10px;
    margin-right:20px;
}
.connections_content{
    padding-left: 20px;
}
.connections_link{
    border-top: 3px solid lightgray;
    padding: 20px 20px;
    
}
.connection_pics{
    display: inline-block;
    width: 30px;
    height: auto;
    border-radius: 50%;
}
p{
    display: inline-block;
    margin: 3px;
    vertical-align: top;
}